*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue",  "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    font-size: 1.125rem;
    color: #495057;
}
button {
	display: flex;
	padding: .5rem 1rem;
/*	font-size: 0.875rem;*/
	text-align: left;
	cursor: pointer;
	flex-direction: row;
	background: #f0f0f0;
	color: #3f51b5;
	border-color: transparent;
	border-style: solid;
	border-width: 0.0625rem;
	border-radius: 624.9375rem;
/*	box-shadow: 0px 1px 1px 0px #1f23280f, 0px 1px 3px 0px #1f23280f;*/
	gap: 8px;
	align-items: center;
	justify-content: center;
}

button:hover { background-color: #dbdbdb;}

ul, ol {
	display: flex;
	align-items: center;
	gap: .5rem;
	margin-left: 0;
	list-style: none;
	white-space: nowrap;
	opacity: 1;
	visibility: visible;
	transition: max-height .24s ease-in-out,opacity 300ms .24s ease-in-out,visibility 0 300ms;
}

input {
	
}

.form-control {
	padding: 5px 12px;
	font-size: 14px;
	line-height: 20px;
	color: #1F2328;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #D1D9E0;
	border-radius: 6px;
	box-shadow: inset 0px 1px 0px 0px #1f23280a;
	transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
	transition-property: color,background-color,box-shadow,border-color;
}
